#bulk-details {
  tr {
    border-top: 1px solid #DEE2E6;
    border-bottom: 1px solid #DEE2E6;
  }

  th {
    font-style: normal;
    font-weight: 600;
    font-size: 10.4px;
    line-height: 16px;
    letter-spacing: 1px;
    color: #525F7F;
  }

  input {
    width: 160px;
  }

  .makeStyles-widthAndHeight {
    width: 160px;
  }
}