.mentors {
  padding: 1rem;
  background: #F3F0EA;

  @media (min-width: 1000px) {
    padding: 0 2rem;
  }

  @include breakpoint-large-up {
    margin-top: -8rem;
  }

  @include breakpoint-xlarge {
    padding: 1rem 5rem;
  }

  &__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 3rem;

    &--box {
      display: flex;

      @media (max-width: 600px) {
        flex-direction: column;
      }

      .profile {
        margin: 0 1.5rem 2rem;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        text-decoration: none;
        color: #18191F;
        cursor: pointer;

        img {
          @media (min-width: 600px) and (max-width: 900px) {
            width: 12rem;
          }

          @media (max-width: 340px) {
            width: 17rem;
          }

          @media screen and (min-width: 2300px) {
            width: 30rem;
          }
        }

        &__name {
          font-weight: 700;
          font-size: 1.25rem;
          line-height: 2rem;
        }

        &__description {
          font-weight: 400;
          font-size: 1rem;
          line-height: 1.5rem;

        }
      }
    }
  }
}