.timer {
  padding: 1.5rem 3rem;
  height: 12.5rem;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 1rem;
  width: 80%;
  margin: -8rem auto 6rem;
  text-align: center;
  max-width: 72rem;

  @media (max-width: 500px) {
    padding: .5rem;
    width: 90%;
  }

  @media (max-width: 360px) {
    padding: .5rem;
    width: 80%;
  }

  h3 {
    font-size: 1.5rem;
    color: #A0248D;
  }

  &__time-left {
    font-family: Fredoka One;
    letter-spacing: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &--container {
      position: relative;
    }
    &--value {
      font-weight: 400;
      font-size: 3rem;
      line-height: 4rem;
      margin: 0 2.625rem;

      @media (max-width: 500px) {
        margin: .75rem;
      }

      @media (max-width: 360px) {
        font-size: 2rem;
      }
    }

    &--desc {
      position: absolute;
      bottom: -1rem;
      left: 3rem;

      @media (max-width: 500px) {
        left: 1rem;
      }
    }
  }

  .close-registration-section {
    h3 {
      color: #263238;
      line-height: unset;

      @media (max-width: 928px) {
        font-size: 20px;
      }

      @media (max-width: 600px) {
        font-size: 18px;
      }
    }
  }
}

.timer-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}